# ASSIGNMENT CONFIG
requirements: requirements.txt
solutions_pdf: true
export_cell:
    instructions: "Upload the generated zip file to the Google sheet please. Uploading work which is not yours will lead to non admittance."
generate: 
    pdf: false
    filtering: false
    pagebreaks: true
    zips: true

## DSA 2023 Summer School Admittance Check

Thanks for your interest in attending DSA Kigali 2023. To attend the summer school you have to have some level of basic Python proficiency. Completing the following notebook should ensure you have the right kind of background to benefit maximally from the Summer School. See you in Kigali!

In [1]:
# Run these once ... Just in case 
#!pip install nose 
#!pip install otter-grader
import IPython
from IPython import get_ipython
# Import the good stuff
import pandas as pd
import numpy as np
import math
from nose.tools import assert_equal
import otter
grader = otter.Notebook()

ModuleNotFoundError: No module named 'pandas'

# BEGIN QUESTION
name: q1
points: 2

**Question 1:** Write a Python function to return a tuple of primes and non primes given an integer input

# BEGIN SOLUTION

In [ ]:
# BEGIN SOLUTION
def sieve(num):
    prime = [True for i in range(num+1)]
    prime_list = []
    not_prime_list = []
    
    # boolean array
    p = 2
    while (p * p <= num):

        # If prime[p] is not
        # changed, then it is a prime
        if (prime[p] == True):

            # Updating all multiples of p
            for i in range(p * p, num+1, p):
                prime[i] = False
        p += 1
   
    p = 2
    # Create the lists 
    for p in range(2, num+1):
        if prime[p]:
            prime_list.append(p)
        else: 
            not_prime_list.append(p)
   
    # Create the tuple 
    prime_list_tuple = tuple(prime_list)
    not_prime_list_tuple = tuple(not_prime_list)
    return_tuple = (prime_list_tuple, not_prime_list_tuple)
    return(return_tuple)
# END SOLUTION
num = 30
print("Following are the prime and non prime numbers smaller than or equal to", num)
print(sieve(num))

# END SOLUTION

# BEGIN TESTS

In [ ]:
# BEGIN TEST CONFIG
points: 2
# END TEST CONFIG
def test_primes(sieve):
    assert sieve(30) == ((2, 3, 5, 7, 11, 13, 17, 19, 23, 29), (4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30))
test_primes(sieve)

In [ ]:
# HIDDEN
def test_higher_primes(sieve):
    assert sieve(100) == ((2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97), (4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100))
    assert sieve(200) == ((2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199), (4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100, 102, 104, 105, 106, 108, 110, 111, 112, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 128, 129, 130, 132, 133, 134, 135, 136, 138, 140, 141, 142, 143, 144, 145, 146, 147, 148, 150, 152, 153, 154, 155, 156, 158, 159, 160, 161, 162, 164, 165, 166, 168, 169, 170, 171, 172, 174, 175, 176, 177, 178, 180, 182, 183, 184, 185, 186, 187, 188, 189, 190, 192, 194, 195, 196, 198, 200))
test_higher_primes(sieve)

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q2

**Question 2:** Create a dictionary to store the type and number of unique characters in the paragraph provided

# BEGIN SOLUTION

In [ ]:
paragraph = "The following is sample text I used to practice special characters using keybr.com: 112233445566778899 Saturn V rocket’s first stage carries 203,400 gallons (770,000 liters) of kerosene fuel and 318,000 gallons (1.2 million liters) of liquid oxygen needed for combustion. At liftoff, the stage’s five F-1 rocket engines ignite and produce 7.5 million pounds of thrust. To replace those goofy quantities with the far less retarded metric system (even though liters are considered part of the metric system they are the same as cubic deci-meters) you would say 770 cubic meters of kerosene {abbreviated as m3} and 1,204 m3 of liquid O2 [O2 is the symbol for oxygen]. We would also say it produced 33,600,000 newtons of force <abbreviated as N>. To add scientific notation {a way of writing numbers that allows you to write only as many digits `of specificity` as you would like} you can write 7.7 * 10 ^ 2 m3 of kerosene 1.204 * 10 ^ 3 m3 of O2 and 3.3 * 10 ^ 7 newtons. Another way to write scientific notation is to replace the “* 10 ^” with ‘E’ -/capital e\-. So our numbers would look like:s"
# BEGIN SOLUTION
from collections import Counter 
dictionary = Counter(paragraph)
# END SOLUTION
print(dictionary)

# END SOLUTION

# BEGIN TESTS

In [ ]:
# BEGIN TEST CONFIG
points: 2
# END TEST CONFIG
def test_dictionary(Counter):
    assert Counter(paragraph) == {' ': 192, 'e': 89, 'o': 68, 't': 65, 'i': 60, 's': 57, 'a': 48, 'r': 45, 'n': 42, 'l': 35, 'c': 31, 'd': 27, 'f': 26, 'u': 26, '0': 22, 'm': 20, 'y': 19, 'h': 17, 'w': 16, 'g': 14, '3': 13, '.': 12, 'p': 11, 'b': 11, '1': 11, '2': 10, '7': 10, 'k': 9, ',': 7, '4': 5, 'v': 4, '-': 4, '*': 4, '^': 4, 'T': 3, 'x': 3, '5': 3, '6': 3, '8': 3, '’': 3, '(': 3, ')': 3, 'q': 3, 'O': 3, ':': 2, '9': 2, 'S': 2, 'A': 2, '{': 2, '}': 2, '`': 2, 'I': 1, 'V': 1, 'F': 1, '[': 1, ']': 1, 'W': 1, '<': 1, 'N': 1, '>': 1, '“': 1, '”': 1, '‘': 1, 'E': 1, '/': 1, '\\': 1}
test_dictionary(Counter)  # IGNORE

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q3

**Question 3:** Extract the values from the dictionary above into a list

# BEGIN SOLUTION

In [ ]:
# BEGIN SOLUTION
keysList = list(dictionary.keys()) 
# END SOLUTION
print (keysList)

# END SOLUTION

# BEGIN TESTS

In [ ]:
# BEGIN TEST CONFIG
points: 2
# END TEST CONFIG
def test_keyslist():
    assert list(dictionary.keys()) == ['T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '’', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '“', '”', '‘', 'E', '/', '\\']
test_keyslist()

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q4

**Question 4:** Extract the keys from the dictionary above into a list

# BEGIN SOLUTION

In [ ]:
# BEGIN SOLUTION
valuesList = list(dictionary.values()) 
# END SOLUTION
print (valuesList)

# END SOLUTION

# BEGIN TESTS

In [ ]:
# BEGIN TEST CONFIG
points: 2
# END TEST CONFIG
def test_valueslist():
    assert list(dictionary.values()) == [3, 17, 89, 192, 26, 68, 35, 16, 60, 42, 14, 57, 48, 20, 11, 65, 3, 1, 26, 27, 45, 31, 9, 19, 11, 12, 2, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 3, 22, 7, 3, 3, 3, 2, 4, 1, 4, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 4, 4, 1, 1, 1, 1, 1, 1]
test_valueslist()  # IGNORE

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q5

**Question 5:** Merge the two lists into a tuple

# BEGIN SOLUTION

In [ ]:
# BEGIN SOLUTION
keys_tuple = tuple(keysList)
values_tuple = tuple(valuesList)
final_tuple = (keys_tuple, values_tuple)
# END SOLUTION
print(final_tuple)

# END SOLUTION

# BEGIN TESTS

In [ ]:
# BEGIN TEST CONFIG
points: 2
# END TEST CONFIG
def test_tuple():
    assert final_tuple == (('T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '’', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '“', '”', '‘', 'E', '/', '\\'), (3, 17, 89, 192, 26, 68, 35, 16, 60, 42, 14, 57, 48, 20, 11, 65, 3, 1, 26, 27, 45, 31, 9, 19, 11, 12, 2, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 3, 22, 7, 3, 3, 3, 2, 4, 1, 4, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 4, 4, 1, 1, 1, 1, 1, 1))
test_tuple()

# END TESTS

# END QUESTION

# BEGIN QUESTION 
name: q6
points: 10

**Question 6:**  Write a function `greatest_common_divisor` that takes two inputs `a` and `b` and returns the greatest common divisor of the two numbers. E.g. input `(10, 15)` would return `5`

# BEGIN SOLUTION

In [ ]:
def greatest_common_divisor(a, b):
    # BEGIN SOLUTION
    aa = a if a < b else b
    divisors = [i for i in range(1, aa+1) if a % i == 0 and b % i == 0]
    return divisors[-1]
    # END SOLUTION

# END SOLUTION

# BEGIN TESTS

In [ ]:
assert_equal(greatest_common_divisor(10, 15), 5)

In [ ]:
# HIDDEN
assert_equal(greatest_common_divisor(15, 19), 1)

In [ ]:
# HIDDEN
assert_equal(greatest_common_divisor(100, 105), 5)

In [ ]:
# HIDDEN
assert_equal(greatest_common_divisor(4, 2), 2)

In [ ]:
# HIDDEN
assert_equal(greatest_common_divisor(20, 16), 4)

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q7
points: 10

**Question 7:**  Write a function `get_nearest_farthest` that takes in a point of interest (pt) and a list of points and returns the nearest point and the farthest point from the point of intest.

# BEGIN SOLUTION

In [ ]:
def get_nearest_farthest(pt, ptlist):
    # BEGIN SOLUTION
    def dist(a, b):
        x1, y1 = a
        x2, y2 = b
        return math.sqrt((y2 - y1)**2 + (x2 - x1)**2)
    
    pts = sorted([(ptt, dist(pt, ptt)) for ptt in ptlist], key=lambda tp: tp[1])
    return pts[0][0], pts[-1][0]
    # END SOLUTION

# END SOLUTION

# BEGIN TESTS

In [ ]:
assert_equal(get_nearest_farthest((3, 8), [(9, 3), (8,5), (7,6)]), ((7, 6), (9, 3)))

In [ ]:
# HIDDEN
assert_equal(get_nearest_farthest((12,8), [(5,9), (9,1), (2,4), (13,9), (10,12)]), ((13, 9), (2, 4)))

In [ ]:
# HIDDEN
assert_equal(get_nearest_farthest((5,8), [(5,9), (9,1), (2,4), (13,9), (10,12)]), ((5, 9), (13, 9)))

In [ ]:
# HIDDEN
assert_equal(get_nearest_farthest((12,2), [(5,9), (9,1), (2,4), (13,9), (10,12)]), ((9, 1), (10, 12)))

In [ ]:
# HIDDEN
assert_equal(get_nearest_farthest((12, 2), [(9, 3), (8,5), (7,6)]), ((9, 3), (7, 6)))

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q8
points: 5

**Question 8:**  Write a function `perfectly_divisible` to return a list of numbers between 0 and a number $N$ that are perfectly divisible by $q$ (with out leaving a remainder). <br>
**Hint**: $N$ should also be inclusive in the numbers being considered. If N is negative use N == 20

# BEGIN SOLUTION

In [ ]:
def perfectly_divisible(N, q):
    # BEGIN SOLUTION
    N = 20 if N < 0 else N
    return [num for num in range(N+1) if num%q == 0]
    # END SOLUTION

# END SOLUTION

# BEGIN TESTS

In [ ]:
assert_equal(perfectly_divisible(10,2), [0,2,4,6,8,10])

In [ ]:
# HIDDEN
assert_equal(perfectly_divisible(-10,2), [0,2,4,6,8,10,12,14,16,18,20])

In [ ]:
# HIDDEN
assert_equal(perfectly_divisible(6,4), [0,4])

In [ ]:
# HIDDEN
assert_equal(perfectly_divisible(-6,4), [0, 4, 8, 12, 16, 20])

In [ ]:
# HIDDEN
assert_equal(perfectly_divisible(56,24), [0, 24, 48])

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q9
points: 4

**Question 9:**  Write a function `flatten_lists` that takes in a list of lists and outputs a sorted list of elements of sublists of the input list (confusing right?) <br>
Example: given `flatten_lists([[2,13,44], [6,7]])` it should return `[2,6,7,13,44]`

# BEGIN SOLUTION

In [ ]:
def flatten_lists(superlist):
    # BEGIN SOLUTION
    answer = []
    for i in superlist:
        for j in i:
            answer.append(j)
    return sorted(answer)
    # END SOLUTION

# END SOLUTION

# BEGIN TESTS

In [ ]:
assert_equal(flatten_lists([[2,13,44], [6,7]]), [2, 6, 7, 13, 44])

In [ ]:
# HIDDEN
assert_equal(flatten_lists([[2], [61,34,5,8,9]]), [2, 5, 8, 9, 34, 61])

In [ ]:
# HIDDEN
assert_equal(flatten_lists([[3,2,1,5], [8,9], [5,4,4,6]]), [1, 2, 3, 4, 4, 5, 5, 6, 8, 9])

In [ ]:
# HIDDEN
assert_equal(flatten_lists([[3,2,1,5], [8,9], [5,4,4,6], [3]]), [1, 2, 3, 3, 4, 4, 5, 5, 6, 8, 9])

# END TESTS

# END QUESTION

**The Extra Mile!**

**Download the dataset "Nakuru Sensor Data for February 2023 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/14165682-37dd-4f40-914e-eb24619e4ef8"**

Load the 'timestamp','value_type' and 'value' collumns into a pandas dataframe

In [ ]:
import pandas as pd
from functools import reduce

#Load the 'timestamp','value_type' and 'value' collumns into a pandas dataframe 

df = pd.read_csv(r'Nakuru_Sensor_Data_Feb_2023.csv',usecols=['timestamp','value_type','value'])

print(df)

# BEGIN QUESTION
name: q_E1

**Question E1:** Create a new collumn 'timestamp_new' from 'timestamp' rounded off to the second

# BEGIN SOLUTION

In [ ]:
# BEGIN SOLUTION
df['timestamp'] = pd.to_datetime(df['timestamp'], infer_datetime_format=True)
df['timestamp_new'] = df['timestamp'].dt.floor('S') # SOLUTION
# END SOLUTION
print(df)

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q_E2

**Question E2:** Split the dataframe based on the 'value_type' collumn

# BEGIN SOLUTION

In [ ]:
grouped = df.groupby(df.value_type) # SOLUTION
df_temperature = grouped.get_group("temperature") # SOLUTION
df_humidity = grouped.get_group("humidity") # SOLUTION
df_P1 = grouped.get_group("P1") # SOLUTION
df_P2 = grouped.get_group("P2") # SOLUTION

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q_E3

**Question E3:** Find the mean, mode and median of the humidity, temperature, P1 and P2 values

# BEGIN SOLUTION

In [ ]:
# BEGIN SOLUTION
mu_temp, med_temp, sd_temp = np.mean(df_temperature['value']), np.median(df_temperature['value']), np.std(df_temperature['value'])
# END SOLUTION
print("Temperature")
print("Mean = ",mu_temp, "Median = ", med_temp, "Standard Deviation = ", sd_temp)

# BEGIN SOLUTION
mu_humidity, med_humidity, sd_humidity = np.mean(df_humidity['value']), np.median(df_humidity['value']), np.std(df_humidity['value'])
# END SOLUTION
print("Humidity")
print("Mean = ",mu_humidity, "Median = ", med_humidity, "Standard Deviation = ", sd_humidity)

# BEGIN SOLUTION
mu_P1, med_P1, sd_P1 = np.mean(df_P1['value']), np.median(df_P1['value']), np.std(df_P1['value'])
# END SOLUTION
print("P1")
print("Mean = ",mu_P1, "Median = ", med_P1, "Standard Deviation = ", sd_P1)

# BEGIN SOLUTION
mu_P2, med_P2, sd_P2 = np.mean(df_P2['value']), np.median(df_P2['value']), np.std(df_P2['value'])
# END SOLUTION
print("P2")
print("Mean = ",mu_P2, "Median = ", med_P2, "Standard Deviation = ", sd_P2)

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q_E4

**Question E4:** Merge the grouped dataframes into one dataframe and save it as newdata.csv

# BEGIN SOLUTION

In [ ]:
# BEGIN SOLUTION
df_merged = df_temperature.merge(df_humidity,how='left', on='timestamp_new',suffixes=('_temperature', '_humidity'))
df_merged = df_merged.merge(df_P1,how='left', on='timestamp_new',suffixes=('_prev', '_P1'))
df_merged = df_merged.merge(df_P2,how='left', on='timestamp_new',suffixes=('_P1', '_P2'))
# END SOLUTION
print(df_merged)

from pathlib import Path  
filepath = Path('newdata.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_merged.to_csv(filepath)

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q_E5

**Question E5:** Open the new data file and select only 'timestamp_new','value_temperature','value_humidity','value_P1' and 'value_P2' collunms

# BEGIN SOLUTION

In [ ]:
# BEGIN SOLUTION
new_df = pd.read_csv(r'newdata.csv',usecols=['timestamp_new','value_temperature','value_humidity','value_P1','value_P2'])
# END SOLUTION
new_df

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q_E6

**Question E6:** Replace the missing values in collumns 'value_P1' and 'value_P2' with the mean of the same collumns

# BEGIN SOLUTION

In [ ]:
#Check for missing values 
missing_values = pd.isnull(new_df['value_P1']) # SOLUTION

# displaying data only with NaN
new_df[missing_values] # SOLUTION

In [ ]:
#print("The mean of P1",new_df['value_P2'].mean())
#print("The mean of P2",new_df['value_P1'].mean())

#replace missing values with the mean 
# BEGIN SOLUTION
new_df['value_P1'].fillna(new_df['value_P1'].mean(), inplace=True) 
new_df['value_P2'].fillna(new_df['value_P2'].mean(), inplace=True) 
# BEGIN SOLUTION

#Check for missing values after the replacement operation 
missing_values = pd.isnull(new_df['value_P2']) # SOLUTION

# displaying data only with NaN (if any) after the replacement operation 
# BEGIN SOLUTION
new_df[missing_values] 
# END SOLUTION
new_df

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q_E7

**Question E7:** Compute the correlations between temperature and humidity; P1 and P2

# BEGIN SOLUTION

In [ ]:
#Correlation between temperature and humidity
# BEGIN SOLUTION
corr_temp_hum = new_df['value_temperature'].corr(new_df['value_humidity'])
# END SOLUTION

print ("Correlation between temparature and humidity",corr_temp_hum)

#Correlation between P1 and P2
# BEGIN SOLUTION
corr_p1_p2 = new_df['value_P1'].corr(new_df['value_P2'])
# END SOLUTION

print ("Correlation between P1 and P2",corr_p1_p2)

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q_E8

**Question E8:** Create a new dataframe comprising of the average values of the variables by day

# BEGIN SOLUTION

In [ ]:
# BEGIN SOLUTION
new_df['timestamp_new'] = pd.to_datetime(df['timestamp_new'], infer_datetime_format=True) 
new_df['timestamp_new'] = df['timestamp_new'].dt.floor('D')  
# END SOLUTION
means_feb = new_df.groupby('timestamp_new').mean() # SOLUTION
means_feb

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q_E9

**Question E9:** Download the dataset "Nakuru Sensor Data for November 2021 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/1f11351e-156b-4e4c-a063-b86a6ee07c4a"

Load the data into a pandas dataframe and develop a dataframe similar to what you have just done in Question no's 6 - 13 above

# BEGIN SOLUTION

In [ ]:
# BEGIN SOLUTION
#Import only the 'timestamp','value_type'and'value' collumns 
df_nov = pd.read_csv(r'Nakuru_Sensor_Data_Nov_2021.csv',sep = ';') 

#Create a new collumn 'timestamp_new' from 'timestamp' rounded off to the second
df_nov['timestamp'] = pd.to_datetime(df_nov['timestamp'], infer_datetime_format=True)
df_nov['timestamp_new'] = df_nov['timestamp'].dt.floor('S')

#Group the data by value_type 
grouped_nov = df_nov.groupby(df_nov.value_type)
df_temperature_nov = grouped_nov.get_group("temperature")
df_humidity_nov = grouped_nov.get_group("humidity")
df_P1_nov = grouped_nov.get_group("P1")
df_P2_nov= grouped_nov.get_group("P2")

#print("New timestamp",df_P2_nov['timestamp_new'])

#Create a new dataframe by merging the grouped data frames 
df_merged_nov = df_temperature_nov.merge(df_humidity_nov,how='left', on='timestamp_new',suffixes=('_temperature', '_humidity'))
df_merged_nov = df_merged_nov.merge(df_P1_nov,how='left', on='timestamp_new',suffixes=('_prev', '_P1'))
df_merged_nov = df_merged_nov.merge(df_P2_nov,how='left', on='timestamp_new',suffixes=('_P1', '_P2'))
#print("Merged November - ",df_merged_nov)

#Open the new file 
from pathlib import Path  
filepath = Path('newdata_nov.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_merged_nov.to_csv(filepath)  

new_df_nov = pd.read_csv(r'newdata_nov.csv',usecols=['timestamp_new','value_temperature','value_humidity','value_P1','value_P2'])
#new_df_nov 

#replace missing values with the mean 
new_df_nov['value_P1'].fillna(new_df_nov['value_P1'].mean(), inplace=True) 
new_df_nov['value_P2'].fillna(new_df_nov['value_P2'].mean(), inplace=True) 

#Create a new dataframe comprising of the average values of the variables by day
new_df_nov['timestamp_new'] = pd.to_datetime(new_df_nov['timestamp_new'], infer_datetime_format=True)
new_df_nov['timestamp_new'] = new_df_nov['timestamp_new'].dt.floor('D')
# END SOLUTION
means_nov = new_df_nov.groupby('timestamp_new').mean() # SOLUTION
means_nov

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q_E10

**Question E10:** Convert the means_feb and means_nov to numpy arrays ... and then compute the average of each collumn

Hint: The results are numpy arrays

# BEGIN SOLUTION

In [ ]:
feb_numpy_array = means_feb.to_numpy() # SOLUTION
feb_average = np.mean(feb_numpy_array, axis = 0) # SOLUTION
feb_average

In [ ]:
nov_numpy_array = means_nov.to_numpy() # SOLUTION
nov_average = np.mean(nov_numpy_array, axis = 0) # SOLUTION
nov_average

# END SOLUTION

# END QUESTION

# BEGIN QUESTION
name: q_E11

**Question E11:** Write a function to compute the difference in the average temperature, humidity, P1 and P2 between November 2021 and February 2023

Hint: The result is a vector of the form [w,x,y,z]

# BEGIN SOLUTION

In [ ]:
def sub():
    # BEGIN SOLUTION
    diff = []
    for i in range(len(nov_average)):
        result = nov_average[i] - feb_average[i]
        diff.append(result)
    # END SOLUTION
    return diff
 
# Print the result of the subtraction
difference = sub()

# END SOLUTION

# END QUESTION