#### DSA 2023 Summer School Solution
For this notebook you will create a virtual conda envirnoment first

#### 1.0 Installing necessary libraries

In [97]:
import IPython
from IPython import get_ipython
import pandas as pd
import numpy as np
import math
from nose.tools import assert_equal
import otter
from collections import Counter
import math
import warnings
warnings.filterwarnings('ignore')

grader = otter.Notebook()

#### 1.1 Questions from DSA

#### 1.1.1 Question 1: Write a Python function to return a tuple of primes and non primes given an integer input

In [28]:
num = int(input("up to: "))

def prime_or_not(num):
    
    #Initialize numbers into a list from 2 to input num
    numbers = list(range(2, num + 1))
    
    #Initialize a empty list
    to_primes_list = []
    to_non_primes_list = []
    
    #loop over through the list of numbers
    while len(numbers) > 0:
        
        #pop out the first number - index 0 from the list
        current = numbers.pop(0)
        
        #validate if the number is a denoted as non-prime
        if current in to_non_primes_list:
            continue
            
        # Appending the number to to_primes_list
        to_primes_list.append(current)
        
        #remove duplicate of number from the list of numbers
        for i in range(len(numbers)):
            if numbers[i] % current == 0:
                to_non_primes_list.append(numbers[i])
                numbers[i] = 0
        numbers = [n for n in numbers if n != 0]
    return tuple(to_primes_list), tuple(to_non_primes_list)

txt = "Following are the prime and non prime numbers smaller than or equal to " + str(num)
x = txt.title()
print(x)
prime_or_not(num)

up to: 30
Following Are The Prime And Non Prime Numbers Smaller Than Or Equal To 30

((2, 3, 5, 7, 11, 13, 17, 19, 23, 29),
 (4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 9, 15, 21, 27, 25))

#### 1.1.2 Question  2: Create a dictionary to store the type and number of unique characters in the paragraph provided

In [29]:
paragraph = "The following is sample text I used to practice special characters using keybr.com: 112233445566778899 Saturn V rocket’s first stage carries 203,400 gallons (770,000 liters) of kerosene fuel and 318,000 gallons (1.2 million liters) of liquid oxygen needed for combustion. At liftoff, the stage’s five F-1 rocket engines ignite and produce 7.5 million pounds of thrust. To replace those goofy quantities with the far less retarded metric system (even though liters are considered part of the metric system they are the same as cubic deci-meters) you would say 770 cubic meters of kerosene {abbreviated as m3} and 1,204 m3 of liquid O2 [O2 is the symbol for oxygen]. We would also say it produced 33,600,000 newtons of force <abbreviated as N>. To add scientific notation {a way of writing numbers that allows you to write only as many digits `of specificity` as you would like} you can write 7.7 * 10 ^ 2 m3 of kerosene 1.204 * 10 ^ 3 m3 of O2 and 3.3 * 10 ^ 7 newtons. Another way to write scientific notation is to replace the “* 10 ^” with ‘E’ -/capital e\-. So our numbers would look like:s"

char_counts = Counter(paragraph)
print(char_counts)

Counter({' ': 192, 'e': 89, 'o': 68, 't': 65, 'i': 60, 's': 57, 'a': 48, 'r': 45, 'n': 42, 'l': 35, 'c': 31, 'd': 27, 'f': 26, 'u': 26, '0': 22, 'm': 20, 'y': 19, 'h': 17, 'w': 16, 'g': 14, '3': 13, '.': 12, 'p': 11, 'b': 11, '1': 11, '2': 10, '7': 10, 'k': 9, ',': 7, '4': 5, 'v': 4, '-': 4, '*': 4, '^': 4, 'T': 3, 'x': 3, '5': 3, '6': 3, '8': 3, '’': 3, '(': 3, ')': 3, 'q': 3, 'O': 3, ':': 2, '9': 2, 'S': 2, 'A': 2, '{': 2, '}': 2, '`': 2, 'I': 1, 'V': 1, 'F': 1, '[': 1, ']': 1, 'W': 1, '<': 1, 'N': 1, '>': 1, '“': 1, '”': 1, '‘': 1, 'E': 1, '/': 1, '\\': 1})

#### 1.1.3 Question 3: Extracting the values from the created dictionary into a list

In [30]:
char_counts = Counter(paragraph)
keys_to_list = list(char_counts.keys())

print(keys_to_list)

['T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '’', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '“', '”', '‘', 'E', '/', '\\']

#### 1.1.4 Question 4: Extracting keys from the dictionary

In [31]:
char_counts = Counter(paragraph)
values_to_list = list(char_counts.values())
print(values_to_list)

[3, 17, 89, 192, 26, 68, 35, 16, 60, 42, 14, 57, 48, 20, 11, 65, 3, 1, 26, 27, 45, 31, 9, 19, 11, 12, 2, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 3, 22, 7, 3, 3, 3, 2, 4, 1, 4, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 4, 4, 1, 1, 1, 1, 1, 1]

#### 1.1.5 Question 5: Merging the two lists created to a tuple

In [32]:
char_counts = Counter(paragraph)
keys_to_list = list(char_counts.keys())
values_to_list = list(char_counts.values())

merge_the_tuple = tuple(zip(keys_to_list, values_to_list))

print(merge_the_tuple)

(('T', 3), ('h', 17), ('e', 89), (' ', 192), ('f', 26), ('o', 68), ('l', 35), ('w', 16), ('i', 60), ('n', 42), ('g', 14), ('s', 57), ('a', 48), ('m', 20), ('p', 11), ('t', 65), ('x', 3), ('I', 1), ('u', 26), ('d', 27), ('r', 45), ('c', 31), ('k', 9), ('y', 19), ('b', 11), ('.', 12), (':', 2), ('1', 11), ('2', 10), ('3', 13), ('4', 5), ('5', 3), ('6', 3), ('7', 10), ('8', 3), ('9', 2), ('S', 2), ('V', 1), ('’', 3), ('0', 22), (',', 7), ('(', 3), (')', 3), ('q', 3), ('A', 2), ('v', 4), ('F', 1), ('-', 4), ('{', 2), ('}', 2), ('O', 3), ('[', 1), (']', 1), ('W', 1), ('<', 1), ('N', 1), ('>', 1), ('`', 2), ('*', 4), ('^', 4), ('“', 1), ('”', 1), ('‘', 1), ('E', 1), ('/', 1), ('\\', 1))

#### 1.1.6 Question 6: Write a function greatest_common_divisor that takes two inputs a and b and returns the greatest common divisor of the two numbers. E.g input (10, 15) wold return 5

In [38]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))

def greatest_common_divisor(a, b):
    
    #validate if both is equal to 0 to return b or a
    if a == 0:
        return b
    elif b == 0:
        return a
    
    p = 0
    while ((a | b) & 1) == 0:
        a >>= 1
        b >>= 1
        p += 1
        
    while (a & 1) == 0:
        a >>= 1
        
    while b != 0:
        while (b & 1) == 0:
            b >>= 1
        if a > b:
            a, b = b, a
        b -= a
    return a << p

print("Greatest commom divisor is:",greatest_common_divisor(a, b), "between", a,"and",b)

Enter the value of a: 10
Enter the value of b: 15
Greatest commom divisor is: 5 between 10 and 15

#### 1.1.7 Question 7: Write a function get_nearest_farthest that takes in a point of interest (pt) and a list of points and returns the nearest point and the farthest point from the point of intest

In [44]:
def get_nearest_farthest(pt, points):
    distances = [math.sqrt((p[0]-pt[0])**2 + (p[1]-pt[1])**2) for p in points]
    nearest_idx = distances.index(min(distances))
    farthest_idx = distances.index(max(distances))
    return points[nearest_idx], points[farthest_idx]

pt_input = input("Enter the coordinates of the point of interest (separated by commas): ")
pt = tuple(map(int, pt_input.split(',')))
points_input = input("Enter the coordinates of the points (comma-separated): ")
points_list = points_input.split(',')
points = [(int(points_list[i]), int(points_list[i+1])) for i in range(0, len(points_list), 2)]

nearest_point, farthest_point = get_nearest_farthest(pt, points)
print("Nearest point: ", nearest_point)
print("Farthest point: ", farthest_point)

Enter the coordinates of the point of interest (separated by commas): 3,8
Enter the coordinates of the points (comma-separated): 3,8,9,3,8,5,7,6
Nearest point:  (3, 8)
Farthest point:  (9, 3)

#### 1.1.8 Question 8: Write a function perfectly_divisible to return a list of numbers between 0 and a number N that are perfectly divisible by q (with out leaving a remainder). Hint: N should also be inclusive in the numbers being considered. If N is negative use N == 20

In [45]:
def perfectly_divisible(N, q):
    if N < 0:
        N = 20
    return [num for num in range(N+1) if num % q == 0]

N = int(input("Enter a number N: "))
q = int(input("Enter a number q: "))
result = perfectly_divisible(N, q)
print(result)

Enter a number N: 10
Enter a number q: 2
[0, 2, 4, 6, 8, 10]

#### 1.1.9 Question 9: Write a function flatten_lists that takes in a list of lists and outputs a sorted list of elements of sublists of the input list (confusing right?) Example: given flatten_lists([[2,13,44], [6,7]]) it should return [2,6,7,13,44]

In [53]:
def flatten_lists(lst):
    flat_list = []
    for sublist in lst:
        flat_list.extend(sublist)
    return sorted(flat_list)

input_list = input("Enter a list of lists separated by commas: ")
lst = [[int(num) for num in sublist.split(",")] for sublist in input_list.replace(";", ",").split(",")]
print(flatten_lists(lst))

Enter a list of lists separated by commas: 2,13,44;6,7
[2, 6, 7, 13, 44]

#### 1.2 The Extra Mile!

##### Download the dataset "Nakuru Sensor Data for February 2023 from https://open.africa/dataset/678d3d27-1973-4c50-b1c0-5df331fd6d4e/resource/14165682-37dd-4f40-914e-eb24619e4ef8/download/tmpc57lj4n6.csv

#### 1.2.0 Loading the dataset from dataset folder
#### 1.2.1: Load the 'timestamp','value_type' and 'value' collumns into a pandas dataframe

In [116]:
df = pd.read_csv("../dataset/Nakuru_Sensor_Data_Feb_2023.csv")

column_split = df['sensor_id;sensor_type;location;lat;lon;timestamp;value_type;value'].str.split(pat=';',expand=True)
column_split.columns = ['sensor_id','sensor_type','location','lat','lon','timestamp','value_type','value']

df=pd.concat([df,column_split],axis=1)

df = df.drop('sensor_id;sensor_type;location;lat;lon;timestamp;value_type;value',axis=1)

print(df.head(5))

  sensor_id sensor_type location     lat     lon  \
0       145       DHT22     3528  -0.286  36.067
1       145       DHT22     3528  -0.286  36.067
2       144      SDS011     3528  -0.286  36.067
3       144      SDS011     3528  -0.286  36.067
4       145       DHT22     3528  -0.286  36.067

                          timestamp   value_type value
0  2023-02-04T04:22:51.323124+00:00     humidity   100
1  2023-02-04T04:22:51.323124+00:00  temperature    12
2  2023-02-04T04:22:51.323125+00:00           P2    27
3  2023-02-04T04:22:51.323125+00:00           P1    59
4  2023-02-04T04:25:32.354784+00:00     humidity   100

#### 1.2.2: Create a new collumn 'timestamp_new' from 'timestamp' rounded off to the second

In [109]:
df['timestamp'] = pd.to_datetime(df['timestamp'], infer_datetime_format=True)
df['timestamp_new'] = df['timestamp'].dt.floor('S')

#### 1.2.3:  Question E2: Split the dataframe based on the 'value_type' column

In [117]:
grouped = df.groupby(df.value_type) 
df_temperature = grouped.get_group("temperature") 
df_humidity = grouped.get_group("humidity") 
df_P1 = grouped.get_group("P1") 
df_P2 = grouped.get_group("P2") 
print(df_temperature.head(5))

   sensor_id sensor_type location     lat     lon  \
1        145       DHT22     3528  -0.286  36.067
5        145       DHT22     3528  -0.286  36.067
11       145       DHT22     3528  -0.286  36.067
13       145       DHT22     3528  -0.286  36.067
17       145       DHT22     3528  -0.286  36.067

                           timestamp   value_type value
1   2023-02-04T04:22:51.323124+00:00  temperature    12
5   2023-02-04T04:25:32.354784+00:00  temperature    11
11  2023-02-04T04:28:12.716734+00:00  temperature    12
13  2023-02-04T04:30:52.437513+00:00  temperature    12
17  2023-02-04T04:33:32.677578+00:00  temperature    12

#### 1.2.4: Question E3: Find the mean, mode and median of the humidity, temperature, P1 and P2 values

In [111]:
# convert value column to numeric data type
df_temperature['value'] = pd.to_numeric(df_temperature['value'])
df_humidity['value'] = pd.to_numeric(df_humidity['value'])
df_P1['value'] = pd.to_numeric(df_P1['value'])
df_P2['value'] = pd.to_numeric(df_P2['value'])

# compute median of value column
median_temp = df_temperature['value'].median()
median_humidity = df_humidity['value'].median()
median_P1 = df_P1['value'].median()
median_P2 = df_P2['value'].median()

# compute mode of value column
mode_temp = df_temperature['value'].mode()[0]
mode_humidity = df_humidity['value'].mode()[0]
mode_P1 = df_P1['value'].mode()[0]
mode_P2 = df_P2['value'].mode()[0]

# compute mean of value column
mean_temp = df_temperature['value'].mean()
mean_humidity = df_humidity['value'].mean()
mean_P1 = df_P1['value'].mean()
mean_P2 = df_P2['value'].mean()

#### 1.2.5 Question E4: Merge the grouped dataframes into one dataframe and save it as newdata.csv

In [112]:
df_merged = df_temperature.merge(df_humidity,how='left', on='timestamp_new',suffixes=('_temperature', '_humidity'))
df_merged = df_merged.merge(df_P1,how='left', on='timestamp_new',suffixes=('_prev', '_P1'))
df_merged = df_merged.merge(df_P2,how='left', on='timestamp_new',suffixes=('_P1', '_P2'))

df_merged.to_csv('../dataset/newdata.csv', index=False)

#### 1.3.0 : Open the new data file and select only 'timestamp_new','value_temperature','value_humidity','value_P1' and 'value_P2' collunms

In [115]:
df2 = pd.read_csv('../dataset/newdata.csv',usecols=['timestamp_new','value_temperature','value_humidity','value_P1','value_P2'])
df2.head()

,value_temperature,timestamp_new,value_humidity,value_P1,value_P2
0,12,2023-02-04 04:22:51+00:00,100,59.0,27.0
1,11,2023-02-04 04:25:32+00:00,100,51.0,27.0
2,12,2023-02-04 04:28:12+00:00,100,56.0,23.0
3,12,2023-02-04 04:30:52+00:00,100,56.0,25.0
4,12,2023-02-04 04:33:32+00:00,100,117.0,31.0

#### 1.3.1 Question E6: Replace the missing values in collumns 'value_P1' and 'value_P2' with the mean of the same collumns

In [118]:
missing_values = pd.isnull(df2['value_P1']) 

df2['value_P1'].fillna(df2['value_P1'].mean(), inplace=True) 
df2['value_P2'].fillna(df2['value_P2'].mean(), inplace=True) 

missing_values = pd.isnull(df2['value_P2'])

df2[missing_values]

Empty DataFrame
Columns: [value_temperature, timestamp_new, value_humidity, value_P1, value_P2]
Index: []

#### 1.3.2 Question E7: Compute the correlations between temperature and humidity; P1 and P2

In [119]:
corr_temp_humidity = df2['value_temperature'].corr(df2['value_humidity'])
corr_p1_p2 = df2['value_P1'].corr(df2['value_P2'])

print ("Correlation between P1 and P2",corr_p1_p2)
print ("Correlation between temparature and humidity",corr_temp_humidity)

Correlation between P1 and P2 0.8734801215476381
Correlation between temparature and humidity -0.902823984918267

#### 1.3.3 Question E8: Create a new dataframe comprising of the average values of the variables by day

In [123]:
df2['timestamp_new'] = pd.to_datetime(df2['timestamp_new'], infer_datetime_format=True) 
df2['timestamp_new'] = df2['timestamp_new'].dt.floor('D')  

means_feb = df2.groupby('timestamp_new').mean() 
means_feb

,value_temperature,value_humidity,value_P1,value_P2
timestamp_new,,,,
2023-02-04 00:00:00+00:00,22.312783,62.269231,22.261655,7.998801
2023-02-05 00:00:00+00:00,22.171759,68.225926,28.545665,12.723529
2023-02-06 00:00:00+00:00,22.223562,61.916048,35.875720,13.835411
2023-02-07 00:00:00+00:00,22.747227,65.021719,33.383922,13.310616
2023-02-08 00:00:00+00:00,22.932282,62.166976,26.097481,9.938813
2023-02-09 00:00:00+00:00,18.371345,74.260234,2.217649,0.977087

#### 1.4.0 Question E9: Download the dataset "Nakuru Sensor Data for November 2021 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/1f11351e-156b-4e4c-a063-b86a6ee07c4a"

#### Load the data into a pandas dataframe and develop a dataframe similar to what you have just done in Question no's 6 - 13 above

In [125]:
#load data from csv file
df3 = pd.read_csv('../dataset/Nakuru_Sensor_Data_Nov_2021.csv')
df3.head()

  sensor_id;sensor_type;location;lat;lon;timestamp;value_type;value
0  144;SDS011;3528;-0.286;36.067;2021-11-08T04:40...
1  144;SDS011;3528;-0.286;36.067;2021-11-08T04:40...
2  145;DHT22;3528;-0.286;36.067;2021-11-08T04:40:...
3  145;DHT22;3528;-0.286;36.067;2021-11-08T04:40:...
4  145;DHT22;3528;-0.286;36.067;2021-11-08T04:42:...

In [126]:
#split the columns into different columns 
column_split = df3['sensor_id;sensor_type;location;lat;lon;timestamp;value_type;value'].str.split(pat=';',expand=True)
column_split.columns = ['sensor_id','sensor_type','location','lat','lon','timestamp','value_type','value']

In [127]:
#split the columns into different
df3=pd.concat([df3,column_split],axis=1)
df3 = df3.drop('sensor_id;sensor_type;location;lat;lon;timestamp;value_type;value',axis=1)

In [128]:
#question E1 create a new column
df3['timestamp'] = pd.to_datetime(df3['timestamp'], infer_datetime_format=True)
df3['timestamp_new'] = df3['timestamp'].dt.floor('S')

In [129]:
#question E2 split the columns into different
grouped = df3.groupby(df3.value_type) 

df3_temperature = grouped.get_group("temperature") 
df3_humidity = grouped.get_group("humidity") 
df3_P1 = grouped.get_group("P1") 
df3_P2 = grouped.get_group("P2")

In [130]:
#question E3 find mean mode and median
# convert value column to numeric data type
df3_temperature['value'] = pd.to_numeric(df3_temperature['value'])
df3_humidity['value'] = pd.to_numeric(df3_humidity['value'])
df3_P1['value'] = pd.to_numeric(df3_P1['value'])
df3_P2['value'] = pd.to_numeric(df3_P2['value'])

# compute median of value column
median_temp = df3_temperature['value'].median()
median_humidity = df3_humidity['value'].median()
median_P1 = df3_P1['value'].median()
median_P2 = df3_P2['value'].median()

# compute mode of value column
mode_temp = df3_temperature['value'].mode()[0]
mode_humidity = df3_humidity['value'].mode()[0]
mode_P1 = df3_P1['value'].mode()[0]
mode_P2 = df3_P2['value'].mode()[0]

# compute mean of value column
mean_temp = df3_temperature['value'].mean()
mean_humidity = df3_humidity['value'].mean()
mean_P1 = df3_P1['value'].mean()
mean_P2 = df3_P2['value'].mean()

In [133]:
#question E4 merge the grouped data frame with another
df3_merged = df3_temperature.merge(df3_humidity,how='left', on='timestamp_new',suffixes=('_temperature', '_humidity'))
df3_merged = df3_merged.merge(df3_P1,how='left', on='timestamp_new',suffixes=('_prev', '_P1'))
df3_merged = df3_merged.merge(df3_P2,how='left', on='timestamp_new',suffixes=('_P1', '_P2'))
df3_merged.to_csv('../dataset/newdata1.csv', index=False)

In [134]:
#question E5 open new data file 
df4 = pd.read_csv('../dataset/newdata1.csv',usecols=['timestamp_new','value_temperature','value_humidity','value_P1','value_P2'])
df4.head()

,value_temperature,timestamp_new,value_humidity,value_P1,value_P2
0,14,2021-11-08 04:40:03+00:00,91,42.0,22.0
1,14,2021-11-08 04:42:41+00:00,92,31.0,18.0
2,15,2021-11-08 04:45:21+00:00,92,28.0,20.0
3,15,2021-11-08 04:48:01+00:00,92,16.0,14.0
4,15,2021-11-08 04:50:41+00:00,91,27.0,16.0

In [135]:
#question E6 open new data file
missing_values = pd.isnull(df4['value_P1']) 

df4['value_P1'].fillna(df4['value_P1'].mean(), inplace=True) 
df4['value_P2'].fillna(df4['value_P2'].mean(), inplace=True) 

missing_values = pd.isnull(df4['value_P2'])

In [136]:
#question E7 compute the correlations 
corr_temp_humidity = df4['value_temperature'].corr(df4['value_humidity'])
corr_p1_p2 = df4['value_P1'].corr(df4['value_P2'])

In [137]:
#question E8 create a new dataframe comprising of the avarage 
df4['timestamp_new'] = pd.to_datetime(df3['timestamp_new'], infer_datetime_format=True) 
df4['timestamp_new'] = df3['timestamp_new'].dt.floor('D')

In [138]:
means_nov = df4.groupby('timestamp_new').mean() 
means_nov

,value_temperature,value_humidity,value_P1,value_P2
timestamp_new,,,,
2021-11-08 00:00:00+00:00,20.478977,70.150568,17.078165,9.280883
2021-11-09 00:00:00+00:00,20.333026,68.202030,16.710414,8.767726
2021-11-10 00:00:00+00:00,19.287124,73.015038,20.040159,11.134489
2021-11-11 00:00:00+00:00,20.273885,69.777070,39.380994,23.478350
2021-11-12 00:00:00+00:00,19.981397,74.373866,21.796416,11.760173
2021-11-13 00:00:00+00:00,19.385753,86.071233,12.744426,7.536570

#### Question E10: Convert the means_feb and means_nov to numpy arrays ... and then compute the average of each collumn

#### Hint: The results are numpy arrays

In [139]:
feb_numpy_array = means_feb.to_numpy()
feb_average = np.mean(feb_numpy_array, axis = 0)
feb_average

array([21.79315977, 65.64335563, 24.73034846,  9.79737637])

In [140]:
nov_numpy_array = means_nov.to_numpy()
nov_average = np.mean(nov_numpy_array, axis = 0)
nov_average

array([19.9566939 , 73.59830066, 21.29176235, 11.99303197])

In [141]:
def sub():
    diff = []
    for i in range(len(nov_average)):
        result = nov_average[i] - feb_average[i]
        diff.append(result)
   
    return diff
 
# Print the result of the subtraction
difference = sub()
print(difference)

[-1.8364658682071138, 7.9549450273989635, -3.4385861058352454, 2.195655593251745]