DSA 2023 Summer School Admittance Check

Question 1: Write a Python function to return a tuple of primes and non primes given an integer input

In [ ]:
def sieve(num):
    # initialize a list of all numbers from 2 to num
    numbers = list(range(2, num+1))
    # initialize empty lists to store prime and non-prime numbers
    primes = []
    non_primes = []
    # loop through the list of numbers
    while len(numbers) > 0:
        # remove the first number from the list
        current = numbers.pop(0)
        # check if the number is already marked as non-prime
        if current in non_primes:
            continue
        # add the number to the list of primes
        primes.append(current)
        # remove all multiples of the number from the list of numbers
        for i in range(len(numbers)):
            if numbers[i] % current == 0:
                non_primes.append(numbers[i])
                numbers[i] = 0
        numbers = [n for n in numbers if n != 0]
    return tuple(primes), tuple(non_primes)

num = 30
print("Following are the prime and non prime numbers smaller than or equal to", num)
print(sieve(num))

Question 2: Create a dictionary to store the type and number of unique characters in the paragraph provided

In [ ]:
from collections import Counter

paragraph = "The following is sample text I used to practice special characters using keybr.com: 112233445566778899 Saturn V rocket’s first stage carries 203,400 gallons (770,000 liters) of kerosene fuel and 318,000 gallons (1.2 million liters) of liquid oxygen needed for combustion. At liftoff, the stage’s five F-1 rocket engines ignite and produce 7.5 million pounds of thrust. To replace those goofy quantities with the far less retarded metric system (even though liters are considered part of the metric system they are the same as cubic deci-meters) you would say 770 cubic meters of kerosene {abbreviated as m3} and 1,204 m3 of liquid O2 [O2 is the symbol for oxygen]. We would also say it produced 33,600,000 newtons of force <abbreviated as N>. To add scientific notation {a way of writing numbers that allows you to write only as many digits `of specificity` as you would like} you can write 7.7 * 10 ^ 2 m3 of kerosene 1.204 * 10 ^ 3 m3 of O2 and 3.3 * 10 ^ 7 newtons. Another way to write scientific notation is to replace the “* 10 ^” with ‘E’ -/capital e\-. So our numbers would look like:s"

char_counts = Counter(paragraph)

print(char_counts)

Question 3: Extract the values from the dictionary above into a list

In [ ]:
char_counts = Counter(paragraph)
keys_list = list(char_counts.keys())

print(keys_list)

Question 4: Extract the keys from the dictionary above into a list

In [ ]:
char_counts = Counter(paragraph)
values_list = list(char_counts.values())

print(values_list)

Question 5: Merge the two lists into a tuple

In [ ]:
char_counts = Counter(paragraph)
keys_list = list(char_counts.keys())
values_list = list(char_counts.values())

merged_tuple = tuple(zip(keys_list, values_list))

print(merged_tuple)

Question 6: Write a function greatest_common_divisor that takes two inputs a and b and returns the greatest common divisor of the two numbers. E.g. input (10, 15) would return 5

In [ ]:
def greatest_common_divisor(a, b):

    if a == 0:
        return b
    elif b == 0:
        return a

    p = 0
    while ((a | b) & 1) == 0:
        a >>= 1
        b >>= 1
        p += 1
    
    while (a & 1) == 0:
        a >>= 1
    
    while b != 0:
        while (b & 1) == 0:
            b >>= 1
        if a > b:
            a, b = b, a
        b -= a
    
    return a << p

print(greatest_common_divisor(12, 17))
print(greatest_common_divisor(4, 6))
print(greatest_common_divisor(336, 360))

Question 7: Write a function get_nearest_farthest that takes in a point of interest (pt) and a list of points and returns the nearest point and the farthest point from the point of intest

In [ ]:
import math

def get_nearest_farthest(pt, points):

    distances = [math.sqrt((p[0]-pt[0])**2 + (p[1]-pt[1])**2) for p in points]
    nearest_idx = distances.index(min(distances))
    farthest_idx = distances.index(max(distances))
    return points[nearest_idx], points[farthest_idx]

print(get_nearest_farthest((3, 8), [(9, 3), (8,5), (7,6)]))
print(get_nearest_farthest((12,8), [(5,9), (9,1), (2,4), (13,9), (10,12)]))

Question 8: Write a function perfectly_divisible to return a list of numbers between 0 and a number  N  that are perfectly divisible by  q  (with out leaving a remainder).
Hint:  N  should also be inclusive in the numbers being considered. If N is negative use N == 20

In [ ]:
def perfectly_divisible(N, q):

#Returns a list of numbers between 0 and N that are perfectly divisible by q.
    divisible_numbers = list(range(0, N+1, q))
    return divisible_numbers

print(perfectly_divisible(10,2))

Question 9: Write a function flatten_lists that takes in a list of lists and outputs a sorted list of elements of sublists of the input list (confusing right?)
Example: given flatten_lists([[2,13,44], [6,7]]) it should return [2,6,7,13,44]

In [ ]:
def flatten_lists(lists):

    flat_list = []
    for sublist in lists:
        for element in sublist:
            flat_list.append(element)
    return sorted(flat_list)

print(flatten_lists([[2,13,44], [6,7]]))

Download the dataset "Nakuru Sensor Data for February 2023 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/14165682-37dd-4f40-914e-eb24619e4ef8"

Load the 'timestamp','value_type' and 'value' collumns into a pandas dataframe

In [2]:
# load dependencies
import pandas as pd

df = pd.read_csv('C:/Users/HP/Desktop/DSAjoe/february_2023_sensor.csv')

column_split = df['sensor_id;sensor_type;location;lat;lon;timestamp;value_type;value'].str.split(pat=';',expand=True)
column_split.columns = ['sensor_id','sensor_type','location','lat','lon','timestamp','value_type','value']

df=pd.concat([df,column_split],axis=1)

df = df.drop('sensor_id;sensor_type;location;lat;lon;timestamp;value_type;value',axis=1)

print(df.head())

  sensor_id sensor_type location     lat     lon  \
0       145       DHT22     3528  -0.286  36.067
1       145       DHT22     3528  -0.286  36.067
2       144      SDS011     3528  -0.286  36.067
3       144      SDS011     3528  -0.286  36.067
4       145       DHT22     3528  -0.286  36.067

                          timestamp   value_type value
0  2023-02-04T04:22:51.323124+00:00     humidity   100
1  2023-02-04T04:22:51.323124+00:00  temperature    12
2  2023-02-04T04:22:51.323125+00:00           P2    27
3  2023-02-04T04:22:51.323125+00:00           P1    59
4  2023-02-04T04:25:32.354784+00:00     humidity   100

Question E1: Create a new collumn 'timestamp_new' from 'timestamp' rounded off to the second

In [3]:
df['timestamp'] = pd.to_datetime(df['timestamp'], infer_datetime_format=True)
df['timestamp_new'] = df['timestamp'].dt.floor('S')

Question E2: Split the dataframe based on the 'value_type' collumn

In [4]:
grouped = df.groupby(df.value_type) 
df_temperature = grouped.get_group("temperature") 
df_humidity = grouped.get_group("humidity") 
df_P1 = grouped.get_group("P1") 
df_P2 = grouped.get_group("P2") 
print(df_temperature.head())

   sensor_id sensor_type location     lat     lon  \
1        145       DHT22     3528  -0.286  36.067
5        145       DHT22     3528  -0.286  36.067
11       145       DHT22     3528  -0.286  36.067
13       145       DHT22     3528  -0.286  36.067
17       145       DHT22     3528  -0.286  36.067

                          timestamp   value_type value  \
1  2023-02-04 04:22:51.323124+00:00  temperature    12
5  2023-02-04 04:25:32.354784+00:00  temperature    11
11 2023-02-04 04:28:12.716734+00:00  temperature    12
13 2023-02-04 04:30:52.437513+00:00  temperature    12
17 2023-02-04 04:33:32.677578+00:00  temperature    12

               timestamp_new
1  2023-02-04 04:22:51+00:00
5  2023-02-04 04:25:32+00:00
11 2023-02-04 04:28:12+00:00
13 2023-02-04 04:30:52+00:00
17 2023-02-04 04:33:32+00:00

Question E3: Find the mean, mode and median of the humidity, temperature, P1 and P2 values

In [5]:
# convert value column to numeric data type
df_temperature['value'] = pd.to_numeric(df_temperature['value'])
df_humidity['value'] = pd.to_numeric(df_humidity['value'])
df_P1['value'] = pd.to_numeric(df_P1['value'])
df_P2['value'] = pd.to_numeric(df_P2['value'])

# compute median of value column
median_temp = df_temperature['value'].median()
median_humidity = df_humidity['value'].median()
median_P1 = df_P1['value'].median()
median_P2 = df_P2['value'].median()

# compute mode of value column
mode_temp = df_temperature['value'].mode()[0]
mode_humidity = df_humidity['value'].mode()[0]
mode_P1 = df_P1['value'].mode()[0]
mode_P2 = df_P2['value'].mode()[0]

# compute mean of value column
mean_temp = df_temperature['value'].mean()
mean_humidity = df_humidity['value'].mean()
mean_P1 = df_P1['value'].mean()
mean_P2 = df_P2['value'].mean()

C:\Users\HP\AppData\Local\Temp\ipykernel_18032\4291358308.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temperature['value'] = pd.to_numeric(df_temperature['value'])
C:\Users\HP\AppData\Local\Temp\ipykernel_18032\4291358308.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_humidity['value'] = pd.to_numeric(df_humidity['value'])
C:\Users\HP\AppData\Local\Temp\ipykernel_18032\4291358308.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_P1['value'] = pd.to_numeric(df_P1['value'])
C:\Users\HP\AppData\Local\Temp\ipykernel_18032\4291358308.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_P2['value'] = pd.to_numeric(df_P2['value'])

Question E4: Merge the grouped dataframes into one dataframe and save it as newdata.csv

In [6]:
df_merged = df_temperature.merge(df_humidity,how='left', on='timestamp_new',suffixes=('_temperature', '_humidity'))
df_merged = df_merged.merge(df_P1,how='left', on='timestamp_new',suffixes=('_prev', '_P1'))
df_merged = df_merged.merge(df_P2,how='left', on='timestamp_new',suffixes=('_P1', '_P2'))

df_merged.to_csv('newdata.csv', index=False)

Question E5: Open the new data file and select only 'timestamp_new','value_temperature','value_humidity','value_P1' and 'value_P2' collunms

In [8]:
df2 = pd.read_csv('newdata.csv',usecols=['timestamp_new','value_temperature','value_humidity','value_P1','value_P2'])
df2

,value_temperature,timestamp_new,value_humidity,value_P1,value_P2
0,12,2023-02-04 04:22:51+00:00,100,59.0,27.0
1,11,2023-02-04 04:25:32+00:00,100,51.0,27.0
2,12,2023-02-04 04:28:12+00:00,100,56.0,23.0
3,12,2023-02-04 04:30:52+00:00,100,56.0,25.0
4,12,2023-02-04 04:33:32+00:00,100,117.0,31.0
...,...,...,...,...,...
10741,26,2023-02-24 07:43:55+00:00,60,0.0,0.0
10742,26,2023-02-24 07:46:35+00:00,60,7.0,7.0
10743,26,2023-02-24 07:49:15+00:00,59,1.0,1.0
10744,27,2023-02-24 07:51:55+00:00,59,0.0,0.0
10745,27,2023-02-24 07:54:35+00:00,59,0.0,0.0

Question E6: Replace the missing values in collumns 'value_P1' and 'value_P2' with the mean of the same collumns

In [10]:
missing_values = pd.isnull(df2['value_P1']) 

df2['value_P1'].fillna(df2['value_P1'].mean(), inplace=True) 
df2['value_P2'].fillna(df2['value_P2'].mean(), inplace=True) 

missing_values = pd.isnull(df2['value_P2'])

df2[missing_values]

Empty DataFrame
Columns: [value_temperature, timestamp_new, value_humidity, value_P1, value_P2]
Index: []

Question E7: Compute the correlations between temperature and humidity; P1 and P2

In [11]:
corr_temp_humidity = df2['value_temperature'].corr(df2['value_humidity'])
corr_p1_p2 = df2['value_P1'].corr(df2['value_P2'])

print ("Correlation between P1 and P2",corr_p1_p2)
print ("Correlation between temparature and humidity",corr_temp_humidity)

Correlation between P1 and P2 0.8734801215476381
Correlation between temparature and humidity -0.9028239849182673

Question E8: Create a new dataframe comprising of the average values of the variables by day

In [13]:
df2['timestamp_new'] = pd.to_datetime(df['timestamp_new'], infer_datetime_format=True) 
df2['timestamp_new'] = df['timestamp_new'].dt.floor('D')  

means_feb = df2.groupby('timestamp_new').mean() 
means_feb

,value_temperature,value_humidity,value_P1,value_P2
timestamp_new,,,,
2023-02-04 00:00:00+00:00,22.312783,62.269231,22.261655,7.998801
2023-02-05 00:00:00+00:00,22.171759,68.225926,28.545665,12.723529
2023-02-06 00:00:00+00:00,22.223562,61.916048,35.875720,13.835411
2023-02-07 00:00:00+00:00,22.747227,65.021719,33.383922,13.310616
2023-02-08 00:00:00+00:00,22.932282,62.166976,26.097481,9.938813
2023-02-09 00:00:00+00:00,18.371345,74.260234,2.217649,0.977087

Question E9: Download the dataset "Nakuru Sensor Data for November 2021 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/1f11351e-156b-4e4c-a063-b86a6ee07c4a"

Load the data into a pandas dataframe and develop a dataframe similar to what you have just done in Question no's 6 - 13 above

In [14]:
#load data from csv file
df3 = pd.read_csv('C:/Users/HP/Desktop/DSAKigali/november_2022_sensor.csv')

In [15]:
#split the columns into different columns 
column_split = df3['sensor_id;sensor_type;location;lat;lon;timestamp;value_type;value'].str.split(pat=';',expand=True)
column_split.columns = ['sensor_id','sensor_type','location','lat','lon','timestamp','value_type','value']

In [17]:
#split the columns into different
df3=pd.concat([df3,column_split],axis=1)
df3 = df3.drop('sensor_id;sensor_type;location;lat;lon;timestamp;value_type;value',axis=1)

In [18]:
#question E1 create a new column
df3['timestamp'] = pd.to_datetime(df3['timestamp'], infer_datetime_format=True)
df3['timestamp_new'] = df3['timestamp'].dt.floor('S')

In [19]:
#question E2 split the columns into different
grouped = df3.groupby(df3.value_type) 

df3_temperature = grouped.get_group("temperature") 
df3_humidity = grouped.get_group("humidity") 
df3_P1 = grouped.get_group("P1") 
df3_P2 = grouped.get_group("P2")

In [21]:
#question E3 find mean mode and median
# convert value column to numeric data type
df3_temperature['value'] = pd.to_numeric(df3_temperature['value'])
df3_humidity['value'] = pd.to_numeric(df3_humidity['value'])
df3_P1['value'] = pd.to_numeric(df3_P1['value'])
df3_P2['value'] = pd.to_numeric(df3_P2['value'])

# compute median of value column
median_temp = df3_temperature['value'].median()
median_humidity = df3_humidity['value'].median()
median_P1 = df3_P1['value'].median()
median_P2 = df3_P2['value'].median()

# compute mode of value column
mode_temp = df3_temperature['value'].mode()[0]
mode_humidity = df3_humidity['value'].mode()[0]
mode_P1 = df3_P1['value'].mode()[0]
mode_P2 = df3_P2['value'].mode()[0]

# compute mean of value column
mean_temp = df3_temperature['value'].mean()
mean_humidity = df3_humidity['value'].mean()
mean_P1 = df3_P1['value'].mean()
mean_P2 = df3_P2['value'].mean()

C:\Users\HP\AppData\Local\Temp\ipykernel_18032\4095155625.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_temperature['value'] = pd.to_numeric(df3_temperature['value'])
C:\Users\HP\AppData\Local\Temp\ipykernel_18032\4095155625.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_humidity['value'] = pd.to_numeric(df3_humidity['value'])
C:\Users\HP\AppData\Local\Temp\ipykernel_18032\4095155625.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_P1['value'] = pd.to_numeric(df3_P1['value'])
C:\Users\HP\AppData\Local\Temp\ipykernel_18032\4095155625.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_P2['value'] = pd.to_numeric(df3_P2['value'])

In [22]:
#question E4 merge the grouped data frame with another
df3_merged = df3_temperature.merge(df3_humidity,how='left', on='timestamp_new',suffixes=('_temperature', '_humidity'))
df3_merged = df3_merged.merge(df3_P1,how='left', on='timestamp_new',suffixes=('_prev', '_P1'))
df3_merged = df3_merged.merge(df3_P2,how='left', on='timestamp_new',suffixes=('_P1', '_P2'))
df3_merged.to_csv('newdata1.csv', index=False)

In [23]:
#question E5 open new data file 
df4 = pd.read_csv('newdata1.csv',usecols=['timestamp_new','value_temperature','value_humidity','value_P1','value_P2'])

In [24]:
#question E6 open new data file
missing_values = pd.isnull(df4['value_P1']) 

df4['value_P1'].fillna(df4['value_P1'].mean(), inplace=True) 
df4['value_P2'].fillna(df4['value_P2'].mean(), inplace=True) 

missing_values = pd.isnull(df4['value_P2'])

In [25]:
#question E7 compute the correlations 
corr_temp_humidity = df4['value_temperature'].corr(df4['value_humidity'])
corr_p1_p2 = df4['value_P1'].corr(df4['value_P2'])

In [26]:
#question E8 create a new dataframe comprising of the avarage 
df4['timestamp_new'] = pd.to_datetime(df3['timestamp_new'], infer_datetime_format=True) 
df4['timestamp_new'] = df3['timestamp_new'].dt.floor('D')

In [27]:
means_nov = df4.groupby('timestamp_new').mean() 
means_nov

,value_temperature,value_humidity,value_P1,value_P2
timestamp_new,,,,
2022-11-25 00:00:00+00:00,19.655344,88.478364,16.462186,9.167404
2022-11-26 00:00:00+00:00,19.810835,90.645812,16.822895,9.652436

Question E10: Convert the means_feb and means_nov to numpy arrays ... and then compute the average of each collumn

Hint: The results are numpy arrays

In [29]:
import numpy as np
feb_numpy_array = means_feb.to_numpy()
feb_average = np.mean(feb_numpy_array, axis = 0)
feb_average

array([21.79315977, 65.64335563, 24.73034846,  9.79737637])

In [30]:
nov_numpy_array = means_nov.to_numpy()
nov_average = np.mean(nov_numpy_array, axis = 0)
nov_average

array([19.73308934, 89.5620881 , 16.64254031,  9.40992022])

In [31]:
def sub():
    diff = []
    for i in range(len(nov_average)):
        result = nov_average[i] - feb_average[i]
        diff.append(result)
   
    return diff
 
# Print the result of the subtraction
difference = sub()
print(difference)

[-2.0600704229107585, 23.918732476324024, -8.087808148520839, -0.38745615804600675]